$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
html{
	height: 100%;
	width: 100%;
	position: absolute;
}
.footer{
	position: fixed;
	bottom:0;
	width:100%;
	padding-top: 8px;
	text-align: right;
	background-color: #eee;
}

#list-container{
	max-height: 400px;
	overflow-y: auto;
}